################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TaleSpireGMInfoPlugin/obj/Debug
/TaleSpireGMInfoPlugin/bin/Debug
/packages/Newtonsoft.Json.13.0.1
